.cache/
.ltex/
visu/.cache/
compile_commands.json

node_modules/

notes.md
synthetic_missing_data/out_datasets/*

visu/public/
build/

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.pdf

!article/sources/
!article/sources/*.pdf
!POSTER.pdf
